#center-screen{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  #text-container{
    display: flex;
    flex-direction: column;
    position: relative;

    h1{
      font-family: 'AvenirBold';
      font-size: 12vh;
      margin: 0px 64px;
    }

    @media (max-width: 1000px) {
      h1{
        width: 300px;
      }
    }

    #sfa-text-hidden{
      color: transparent;
      position: absolute;
      z-index: -1;
    }
    
    .no-after:after{
      display: block;
      content: '';
      height: 0px;
      width: 30vw;
      position: absolute;
      background: #ffd745;
      top: 0px;
      left: 24px;
      z-index: -1;
      transition-delay: 300ms;
      transition-duration: 1500ms;
      transition-timing-function: cubic-bezier(.2,.87,0,.99);
    }
    
    .after:after{
      height: 8vh;
      top: 48px;
    }
    
    p{
      font-size: 28px;
      font-family: 'AvenirRegular';
      margin-top: 8px;
      margin-left: auto;
    }

    @media (max-width: 1000px) {
      p{
        margin-bottom: 10vh;
        margin-left: 64px;
      }
    }
  }
}