#navbar-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;

  #navbar{
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    #logo{
      margin: 4vh;
      margin-right: 12px;

      h1{
        margin: 0px;
        font-family: 'AvenirBold';
      }
    }

    #nav-items{
      margin-top: 4vh;
      height: fit-content;
      z-index: 3;
      position: relative;
  
      a {
        font-family: 'AvenirRegular';
        font-size: 24px;
        cursor: pointer;
        position: relative;
        white-space: nowrap;

        margin: 3vh;
        padding: 24px;
        padding-top: 30px;
        padding-bottom: 18px;
        margin-left: -12px;

        color: unset;
        text-decoration: none;

        &:after{
          display: block;
          content: '';
          height: 3px;
          position: absolute;
          transition-duration: 300ms;
          background: #ffd745;
          width: 0%;
          left: 12px;
          top: calc(50% + 8px);
        }

        &:not(#donation):hover:after{
          width: 60%;
        }
      }

      #donation {
        background: url(../assets/circle.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}